@import 'app';

.console_page{
  .new{
    text-align: center;
    margin: 0 0 20px;
    .btn{
      width: 10%;
      background: $color_checked_green;
      color: #fff;
      margin: 5px;
    }
  }
  .filter{
    .row{
      margin-bottom: 30px;
      &:last-child{
        text-align: center;
        button{
          &:last-child{
            background-color: #eee;
            color: #000;
          }
        }
      }
      input{
        &[type=checkbox]{
          margin: 0 5px 0 10px
        }
        &[type=radio]{
          margin: 0 5px 0 10px
        }
      }
      select{
        height: 35px;
      }
      .btn{
        background-color: #000;
        color: #fff;
        width: 8%;
        margin: 0 10px;
      }
    }
  }
  #sorting{
    margin-bottom: 10px; 
    .count{
      span{
        color: $color_price_red;
        font-size: 18px;
      }
    }
    select{
      margin: 0 5px;
    }
  }
  .pages{
    text-align: center;
  }
  .delete_btn{
    background-color: red;
    color: #fff;
  }
  .glyphicon-king{
    float: right;
    color: #F7B32D;
  }
}

#photo_crop{
  .btn{
    background-color: #000;
    color: #fff;
  }
}
