@import 'app';

#console_order{
  .order_list{
    .btn{
      background-color: #eee;
    }
    .status_red{
      color: red;
    }
    .status_blue{
      color: blue;
    }
  }
}

#order_edit{
  select{
    margin: 0 10px;
    line-height: 20px;
    width: 20%;
  }
  .btn{
    background-color: #000;
    color: #fff;
  }
}

