@import 'app';

#console_product{
  .product_list{
    .off_shelf{
      background-color: #ddd;
    }
    .btn{
      background-color: #eee;
    }
  }
  .photo_form{
    .btn{
      background-color: #000;
      color: #fff;
    }
  }
}