@import 'app';

#console_user{
  #user_list{
    .btn{
      background-color: #eee;
    }
  }
  .role_change{
    margin-bottom: 100px;
    .panel-heading {
      cursor: pointer;
    }
    .btn_row{
      text-align: center;
    }
    .panel-body{
      display: none;
    } 
  }
}