//http://sebastianpontow.de/css2compass/

$color_price_red: #cc0000;


$color_bright_gray: #3f3d4c;
$color_santas_gray: #9aa0b6;
$color_nebula_gray: #c8d3da;
$color_mystic_gray: #e1e7eb;

$color_dark_blue: #283467;

$color_checked_green: #4cae4c;