@import 'app';
h2, em, label, a, .rm{
  text-align: center;
}

#user_form{
  background-color: #f8f8f8;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  margin-top: 80px;
  margin-bottom: 150px;
  hr{
    margin-top: -5px;
    border-top: 2px solid #aaa;
    width: 30%;
  }
  #new_user, #edit_user{
    margin-top: 50px;
    .field{
      input{
        margin: 10px auto 40px;
        &[type=text], &[type=email], &[type=password], &[type=submit]{
          width: 80%;
          height: 40px;
          display: block;
        }
        &[type=text], &[type=email], &[type=password]{
          border: 1px #aaa solid;
          font-size: 16px;
          padding: 0 15px;
        }
        &[type=submit]{
          background: #000;
          color: #fff;
          font-size: 18px;
          border: none;
        }
      }
      em{
        display: block;
        margin-bottom: -20px;
      }
    }
    .rm{
      margin: -20px auto 50px;
    }
    label{
      display: block;
      font-size: 18px;
      &[for=user_remember_me]{
        display: inline;
        font-size: 14px;
      }
    } 
  }
  .shared{
    font-size: 18px;
    margin-bottom: 20px;
    display: grid;
    a{
      line-height: 15px;
    }
  }
}


#user_show{
  ul{
    border-bottom: none;
    margin-top: 50px;
  }
  .panel{
    padding: 0;
  }

  .user_data, .order_list{
    .row{
      margin: 30px 0;
      line-height: 35px;
      label{
        font-size: 16px;
      }
    }
    .btn{
      background-color: #000;
      color: #fff;
      margin: 0 auto;
      display: block;
      border: none;
    }
    .notice{
      background-color: $color_price_red;
    }
    .detail_field{
      .row{
        input{
          background-color: #eee;
          border: 1px #ccc solid;
        }
        .save{
          background-color: $color_price_red;
        }
      } 
    }
    .pwd_field{
      h3{
        text-align: center;
      }
    }
  }
}


