@import 'app';
h2, em, label, a, .rm{
  text-align: center;
}

#user_form{
  background-color: #f8f8f8;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  margin-top: 80px;
  margin-bottom: 150px;
  hr{
    margin-top: -5px;
    border-top: 2px solid #aaa;
    width: 30%;
  }
  #new_user, #edit_user{
    margin-top: 50px;
    .field{
      input{
        margin: 10px auto 40px;
        &[type=text], &[type=email], &[type=password], &[type=submit]{
          width: 80%;
          height: 40px;
          display: block;
        }
        &[type=text], &[type=email], &[type=password]{
          border: 1px #aaa solid;
          font-size: 16px;
          padding: 0 15px;
        }
        &[type=submit]{
          background: #000;
          color: #fff;
          font-size: 18px;
          border: none;
        }
      }
      em{
        display: block;
        margin-bottom: -20px;
      }
    }
    .rm{
      margin: -20px auto 50px;
    }
    label{
      display: block;
      font-size: 18px;
      &[for=user_remember_me]{
        display: inline;
        font-size: 14px;
      }
    } 
  }
  .shared{
    font-size: 18px;
    margin-bottom: 20px;
    display: grid;
    a{
      line-height: 15px;
    }
  }
}


#user_show{
  ul{
    border-bottom: none;
    margin-top: 50px;
  }
  .panel{
    padding: 0;
  }

  .user_data, .order_list{
    .row{
      margin: 30px 0;
      line-height: 35px;
      label{
        font-size: 16px;
      }
    }
    .btn{
      background-color: #000;
      color: #fff;
      margin: 0 auto;
      display: block;
      border: none;
    }
    .notice{
      background-color: $color_price_red;
    }
    .detail_field{
      .row{
        input{
          background-color: #eee;
          border: 1px #ccc solid;
        }
        .save{
          background-color: $color_price_red;
        }
      } 
    }
    .pwd_field{
      h3{
        text-align: center;
      }
    }
    .canceled{
      background-color: #eee;
    }
  }
}

.favorite_list{
  .cart {
    background-color: $color_dark_blue;
    color: #eee;
    width: 60px;
    &:hover, &:focus {
      color: #ddd;
    }
  }
}



/*RWD*/
@media only screen and (max-width: 944px){
  .col-sm-6{
    width: 80% !important;
  }
  .col-sm-offset-3{
    margin: 0 auto !important;
  }
  .edit_user{
    .col-sm-2{
      width: 20%;
      float: left;
    }
    .col-sm-8{
      width: 60%;
      float: left;
    }
    .btn{
      margin: 0 auto 10px;
    }
  }
  .order_list, .favorite_list{
    width: 100% !important;
    margin-left: 0 !important;
    overflow-x: scroll;
    th{
      min-width: 80px;
    }
    .hide{
      display: none;
    }
    .btn{
      padding: 5px !important;
      margin: 0 !important;
    }
  }
}

@media only screen and (max-width: 582px){
  .container{
    &>.row{
      margin: 0 !important;
      li{
        padding: 0 !important;
      }
    }
  }
  #user_show{
    .col-sm-2{
      width: 100% !important;
      text-align: center;
      line-height: 25px;
    }
    input{
      width: 100% !important;
      margin: 0px auto 5px;
    }
  }
  .order_list{
    .panel-heading{
      min-width: 570px;
    }
  }
  .favorite_list{
    .panel-heading, .panel-footer{
      min-width: 400px;
    }
  }
}

@media only screen and (max-width: 422px){
  #user_show{
    ul{
      margin-top: 0 !important;
      li{
        a{
          padding: 10px 6px !important;
        }
      }
    }
  }
}