@import 'app';

.product_page{
  .price{
    .correct_price {
      color: $color_price_red;
    }
    .original_price{
      text-decoration: line-through;
      color: #000;    
    }
  }
}
#product_index {
  margin-top: 20px;
  .horn{
    h3{
      text-align: center;
      color: $color_dark_blue;
    }
  }
  #banner{
    img{
      width: 60%;
      margin: 0 auto;
      display: block;
    }
  }
  #search_form {
    height: 60px;
  }
  #selector {
    background-color: #E1E7EB;
    border: 1px #888 solid;
    height: 60px;
    /*margin-top: 100px;*/
    .col-sm-3 {
      line-height: 58px;
      font-size: 20px;
      text-align: center;
      &:nth-child(1){
        background: #C8D3DA;
        cursor: pointer;
      }
      &:nth-child(3){
        background: #C8D3DA;
      }
      input{
        border: none;
        height: 30px;
        font-size: 16px;
        padding: 2px 5px;
      }
      select{
        height: 30px;
        font-size: 16px;
      }
      #price_bottom,
      #price_top {
        width: 20%;
      }
      #keyword {
        width: 45%;
      }
      .btn {
        margin-left: 20px;
        padding: 6px 10px;
        background: $color_bright_gray;
        font-weight: normal;
        &:hover {
          color: #fff;
          background-color: $color_santas_gray;
        }
        &:focus {
          color: #fff;
        }
      }
    }
  }

  .boxes_visible {
    padding: 20px;
    border: 1px #000 solid;
  }

  #boxes {
    margin: 20px 0;
    background: rgba(150, 150, 150, 0.1);

    #cat_box {
      display: none;
      width: 100%;
      .row {
        margin: 0;
        font-size: 18px;
        text-align: center;
      }

      p{
        text-align: left;
      }

      #cat1 {
        margin: 0 20px;
        div {
          border: 2px #100a1a solid;
          height: 45px;
          line-height: 40px;
          border-radius: 10px;
          margin: 5px;
          padding: 0 20px;
          background-color: #fff;
          float: left;
        }
      }

      hr{
        border-top-color: #000;
      }

      #cat2 {
        margin: 0 20px;
        div {
          border: 2px #8086A3 solid;
          height: 40px;
          line-height: 35px;
          border-radius: 10px;
          margin: 5px;
          padding: 0 20px;
          background-color: #fff;
          float: left;
        }
      }
    }



    #arr_box {
      display: none;
      div {
        border: 2px yellow solid;
        border-radius: 5px;
        padding: 5px;
      }
    }
  }

  #tag {
    cursor: pointer;
    margin-bottom: 30px;
    display: -webkit-inline-box;
    span {
      margin: 5px 10px 0 20px;
    }
    #tag_cat1 {
      div {
        background-color: #93A6B1;
      }
    }
    #tag_cat2 {
      div {
        background-color: #E0E5F0;
      }
    }
    #tag_price {
      div {
        background-color: #fff0ac;
      }
    }
    #tag_keyword {
      div {
        background-color: #6abe83;
      }
    }

    .bubble {
      float: left;
      margin-right: 5px;
      padding: 2px 10px;
      border-radius: 5px;
    }

    #clear_tag {
      color: $color_price_red;
      font-size: 15px;
      margin-left: 10px;
    }
  }


  #item {
    .onsale_tag{
      width: 45px;
      position: absolute;
      top: 5px;
      right: 20px;
    }
    .product_pic {
      width: 150px;
      margin-top: 10px;
      box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
      border: 2px #555 solid;
    }
    .caption {
      .product_name{
        height: 46px;
        p{
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;

          word-break:break-all; /*單字強制換行*/

          font-size: 16px;
          font-weight: bold;
          margin: 5px 0;
        }
      }
      p.price {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        font-size: 16px;
      }
      .offer_msg{
        font-size: 8px;
        color: #000;
      }
      .tags {
        span {
          margin-right: 8px;
          top: 2px;
        }
      }
    }
    
  }
  .pages{
    text-align: center;
  }
}

#product_show {
  .product_detail {
    h4{
      word-break:break-all;
    }
    .product_pic {
      margin: 60px 0;
      width: 250px;
      box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
      border: 2px #555 solid;
    }
    .onsale_tag{
      width: 40px;
      position: absolute;
    }
    hr {
      margin-bottom: 20px;
      margin-top: 0;
      border: 0;
      border-top: 2px solid #aaa;
    }
    p {
      font-size: 16px;
      color: #666;
    }
    .price {
      font-size: 20px;
    }
    .summary{
      color: #5e412f;
      font-size: 13px;
      border-left: 3px #aaa solid;
      padding-left: 10px;
      margin: 20px 0;
    }
    .input-quantity {
      margin: 20px 0;
    }
    .add-to-cart {
      background: #000;
      color: #fff;
      margin-bottom: 20px;
    }
    .offer {
      padding: 0;
      p{
        margin: 10px 0;
        color: #385F71;
      }
    }
  }
  .product_description {
    hr {
      width: 90%;
      border-top: 1px solid #ccc;
    }
    h4 {
      margin-bottom: 50px;
    }
    .description{
      *{
        margin: 12px 0;
      }
    }
  }
}

