@import "bootstrap-sprockets";
@import "bootstrap";

#selector{
	background-color: #ffffe0;
	height: 50px;
  div{
    border-left: 2px #d2b48c dashed;
    border-top: 2px #d2b48c dashed;
    line-height: 50px;
    font-size: 20px;

    #price_bottom, #price_top{
    	width: 20%;
    	line-height: 20px;
    }
    #keyword{
    	width: 50%;
    	line-height: 20px;
    }
  	.label{
  		margin-left: 20px;
    	padding: 8px;
  	}
  }
}

#boxes{
	margin: 0;

	#cat_box{
	  display: none;
	  background-color: #ffffe0;
	  width: 100%;
	  .row{
	  	margin: 0;
	    font-size: 18px;
	    text-align: center;
	  }
	  
	  #cat1{
	  	div{
	  		border: 2px #800000 solid;
		    height: 45px;
		    line-height: 40px;
		    border-radius: 10px;
	  		margin: 5px;
	  	}
	  }
	  #cat2{
	  	div{
	  		border: 2px #bc8f8f solid;
		    height: 40px;
		    line-height: 35px;
		    border-radius: 10px;
		    margin: 5px;
	  	}
	  }
	}



	#arr_box{
	  display: none;
	  div{
			border: 2px yellow solid;
			border-radius: 5px;
			padding: 5px;
		}
	}
    
}

#tag{
	cursor: pointer;

	#tag_cat1{
		div{
			background-color: #ff9797;
		}
	}
	#tag_cat2{
		div{
			background-color: #ffd2d2;
		}
	}
	#tag_price{
		div{
			background-color: yellow;
		}
	}
	#tag_keyword{
		div{
			background-color: green;
		}
	}

	.bubble{
		float: left;
		margin-right: 5px;
		padding: 2px 10px;
		border-radius: 5px;
	}
}

#clear_tag{
	font-weight: bold;
	color: red;
	font-size: 15px;
	margin: 10px;
}

#item{
	img{
		margin-top: 10px;
		box-shadow: 5px 5px rgba(0,0,0,0.1);
		border: 2px #555 solid;
	}
}

/*
display: block;
*/
