.navbar{
	position: fixed;
  top: 5px;
  right: 10px;
	z-index: 999;
	.button{
		color: #666;
		display: inline-block;
    width: 110px;
    margin: 0 3px;
    border-radius: 5px;
    border: 1px #835F46 solid;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    &:hover{
    	background-color: rgba(50, 50, 50, 0.1);
    }
	}
}